<!DOCTYPE html>
<html>
  <head>
    <title>Web Auction Builder</title>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg .tg-0lax{text-align:left;vertical-align:top}
      </style>
  </head>
  <body>
    <h1>Project Quarm Auction Builder</h1>
    <img src="https://c3c0df57-dd04-469e-b74a-ef4fbf0495e3-00-eyvwatb84qxu.janeway.replit.dev/static/tunnel.bmp" height="320">
    <h2>Builder</h2>
    <table class="tg" style="undefined;table-layout: fixed; width: 404px"><colgroup>
    <col style="width: 210px">
    <col style="width: 64px">
    <col style="width: 69px">
    <col style="width: 61px">
    </colgroup>
    <thead>
      <tr>
        <th class="tg-0lax">Item</th>
        <th class="tg-0lax">Id</th>
        <th class="tg-0lax">Price</th>
        <th class="tg-0lax">Exclude</th>
      </tr></thead>
    <tbody>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
      <tr>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
      </tr>
    </tbody>
    </table>
  </body>
</html>