<!DOCTYPE html>
<html>
  <head>
    <title>Access WV Online</title>
    <style>
      h1 {
        font-size: 50px;
        color: rgb(219, 0, 58);
      }
      h2 {
        font-size: 36px;
        color: rgb(219, 0, 58);
        font-weight: normal;
      }
      #container {
        max-width: 720px;
        margin: 0 auto;
      }
      .bodytext {
        font-family: sans-serif;
        font-size: 20px;
        text-align: center;
      }
      #button {
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div id="container" class="bodytext">
      <p>
        <img src=./static/logo.PNG height="200">
      </p>
      <p>Out of band connection system for network elements in WV.</p>
      <p>WARNING: This is a restricted access system which may be accessed and used only for permitted activities by authorized personnel. Unauthorized access or use of this system may subject violators to criminal, civil, and/or administrative action.</p>
      <br><br>
      <p>User Name</p>
      <p><input type="text"></p>
      <p>Password</p>
      <p><input type="password"></p>
      <p>
        <button id="button">Log In</button>       
      </p>
      <br><br>
      <p>To request access, please contact Tim Wise at tsw581@ftr.com.
      </p>
    </div>
  </body>
</html>